<nav>
  <div>
    <a href="/">Home</a>
  </div>
  <% if (!locals.currentUser) { %>
    <div>
      <a href="/newUser">Sign up</a>
    </div>
    <div>
      <a href="/logIn">Log in</a>
    </div>
  <% } %>
  <% if (locals.currentUser) { %>
    <div>
      <a href="/file/newFile">Upload file</a>
    </div>
    <div>
      <a href="/logOut">Log out</a>
    </div>
  <% } %>
</nav>