<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <%- include("./partials/navbar") %>
  <header>
    <h1><%= title %></h1>
    <h2><%= message %></h2>
  </header>
  <main>
    <aside>
      <button type="button" class="openFileModal">Uploade file</button>
      <dialog class="fileModal">
        <form action="/folder/newFile" method="POST" enctype="multipart/form-data">
          <div>
            <input id="uploadFile" name="uploadFile" type="file" required />
          </div>
          <div class="button">
            <button type="submit">Upload file</button>
            <button type="button" class="closeFileModal">Cancel</button>
          </div>
        </form>
      </dialog>
    </aside>
    <section>

    </section>
  </main>
</body>
</html>