<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <%- include("./navbar") %>
  <header>
    <h1><%= title %></h1>
  </header>
  <main>
    <h2>Ready to go file loading crazy?</h2>
    <% if (locals.user) { %>
      <h2>Welcome back <%= user.username %></h2>
    <% } else { %>
      <h2>Please sign up or log in to enjoy this app.</h2>
    <% } %>
  </main>
</body>
</html>