<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav>
    <div>
      <a href="/">Home</a>
    </div>
    <div>
      <a href="/newUser">Sign up</a>
    </div>
    <div>
      <a href="/logIn">Log in</a>
    </div>
    <% if (locals.user) { %>
      <div>
        <a href="/logOut">Log out</a>
      </div>
    <% } %>
  </nav>
</body>
</html>